extends layout

block content
  h1= title

  form(id='PetForm', action="/resource/pet", method="POST")
    div.form-group
        label.costumeAttr(for='name') pet name
        input#costumetype(type='text', name='name')
    div.form-group
        label.costumeAttr(for='age') pet age
        input#size(type='text', name='age')
    div.form-group
        label.costumeAttr(for='gender') pet gender
        input#cost(type='text', name='gender')
    input(type="submit")

  script.
    document.forms['PetForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Save succeded")
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Save failed " + error )
      });
    });